/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
.table ion-row:nth-child(even){
    background-color: #dedede;
}

.table ion-row:nth-child(odd){
    background-color: #fff;
}

.table ion-row{
    padding: 10px 5px;
    font-size: 1rem;
}

.table-title{
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 1.5rem 0px
}

.table ion-row:first-child{
    font-weight: bold;
    text-transform: uppercase;
}